#!/bin/bash

export AWS_ACCESS_KEY_ID=$(op item get aws --fields ACCESS_KEY)
export AWS_SECRET_ACCESS_KEY=$(op item get aws --fields SECRET_ACCESS_KEY)
export GITHUB_TOKEN=$(op item get "GitHub Personal Access Token" --fields token)
